<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mini 2D Adventure</title>
    <style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%; /* 🚫 no scrollbars */
        background: #1b1b1b;
    }
    canvas {
        display: block;     /* removes extra gap that can cause scrollbars */
    }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.min.js"></script>
<script type="module" src="/basic.js"></script>

</body>
</html>
